<!DOCTYPE html>
<html>

<head>
  {{- partial "head.html" . -}}
  {{- block "head" . }} {{- end }}
  <title>
    {{- block "title" . }} {{- end }}
  </title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FQ1N29H271"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FQ1N29H271');
</script>
<body class="light" onload="loading()">
  <!-- javascripts -->
  <!-- <script src="/js/jquery-3.6.0.min.js"></script> -->
  <div>
  <script src="{{ .Site.Params.staticPath }}/bootstrap-5/js/bootstrap.bundle.js"></script>

  {{- partial "sections/header.html" . -}}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "sections/footer/index.html" . -}}
  {{- partial "scripts.html" . -}}
  </div>

  <a href="#" class="top">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
  <!-- <img src="/icons/favicon.ico" height="40px" width="40px"> -->
  </a>

</body>

</html>